
p{
    color:rebeccapurple;

 
}
#title {
    text-align: center;
    font-family: arial, sans-serif;
  }
  
  #students {
    /* text-align: center; */
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ddd;
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
  }
  
  #students td, #students th {
    /* border: 1px solid #ddd; */
    /* padding: 8px; */
    padding: 12px 8px 12px 8px;
    text-align: center;
  }
  
  #students tr:nth-child(even){background-color: #f2f2f2;}
  
  #students tr:hover {background-color: #ddd;}
  
  #students th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  } 
  headerStyle{
      color:#9B2244
  }